# Virtual environment
venv/
.env

# Byte-compiled / Cached files
__pycache__/
*.pyc
*.pyo
*.pyd

# Logs & Debugging
logs/
*.log

# Dependency directories
*.egg-info/
dist/
build/

# Uploaded/Temporary Files
uploads/

# IDE & Editor files
.vscode/
.idea/
*.swp
*.swo

# System files
.DS_Store
Thumbs.db
